<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>

                <li>
                    <a class="ti-linkedin" href="http://linkedin.com/in/sarath-chandra-chama">
                        Sarath Chandra Chama
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            {{test | date: 'yyyy'}}, Angular 5 with node server quick start application
        </div>
    </div>
</footer>
